<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" src="/css/styles.css">
  <title>Document</title>
</head>
<body>
  <h1>Hello World!!</h1>
  <% if (data) {%>
    <h2><%= data[0].name %></h2>
  <% } %>
</body>
</html>