<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <title>YourManga</title>
</head>

<body>
  <a href="/"><i class="fas fa-long-arrow-alt-left"></i></a>
  <main>
    <img src="images/bookshelf.png" alt="Estante de livros">
    <div>
      <form action="/user/add" method="post" class="add-form">
        <div>
          <h1>Fazer Login</h1>
          <button type="reset" class="btn-reset">
            <i class="fas fa-trash-restore"></i>
          </button>
        </div>

        <label for="title" class="form-label">Nome de Usuário</label>
        <input type="text" name="username" placeholder="JPZin" class="form-input">

        <label for="title" class="form-label">Senha</label>
        <input type="password" name="password" placeholder="No mínimo 5 dígitos!" class="form-input">

        <button type="submit">
          <p>Login</p>
        </button>
      </form>
    </div>
  </main>
</body>

</html>