<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <title>YourManga</title>
</head>

<body>
  <a href="/"><i class="fas fa-long-arrow-alt-left"></i></a>
  <main>
    <img src="images/bookshelf.png" alt="Estante de livros">
    <div>
      <form action="/user/login" method="post" class="add-form">
        <div>
          <h1>Fazer Login</h1>
          <button type="reset" class="btn-reset">
            <i class="fas fa-trash-restore"></i>
          </button>
        </div>

        <label for="title" class="form-label">Nome de Usuário ou E-mail</label>
        <input type="text" name="username" class="form-input" required>

        <label for="title" class="form-label">Senha</label>
        <input type="password" name="password" class="form-input" required minlength="5">

        <button type="submit">
          <p>Login</p>
        </button>

        <a onclick="openModal()">Esqueci minha senha</a>
      </form>
    </div>
  </main>
  <div class="hide" id="modal">
    <form action="/user/password" method="POST" id="form-password" class="add-form">
      <button class="close-btn btn-reset" onclick="closeModal()"><p>X</p></button>

      <h1>Informe o nome de usuário e e-mail de sua conta e enviaremos a confirmação de sua nova senha.</h1>

      <label for="username" class="form-label">Nome de Usuário</label>
      <input type="text" name="username" class="form-input" required>

      <label for="title" class="form-label">E-mail</label>
      <input type="text" name="email" class="form-input" required>

      <button type="submit" class="form-btn" onclick="closeModal()"><p>Enviar</p></button>
    </form>
  </div>

  <script>
    const modal = document.querySelector('#modal');

    modal.classList.add('hide');

    window.onclick = function (event) {
      if (event.target == modal) {
        closeModal();
      }
    }

    function openModal() {
      modal.classList.remove('hide');
      modal.classList.add('show');
    }

    function closeModal() {
      modal.classList.remove('show');
      modal.classList.add('hide');
    }
  </script>
</body>

</html>