<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('components/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <title>YourManga</title>
</head>
<body>
  <main>
    <img src="images/bookshelf.png" alt="Estante de livros">
    <div>
      <h1>Fazer Login</h1>

      <form action="/user/add" method="post" class="add-form">
        <label for="title" class="form-label">Nome</label>
        <input type="text" name="name" placeholder="João Pedro" class="form-input">

        <label for="title" class="form-label">Nome de Usuário</label>
        <input type="text" name="username" placeholder="JPZin" class="form-input">

        <label for="title" class="form-label">E-mail</label>
        <input type="email" name="email" placeholder="jpzin@gmail.com" class="form-input">

        <label for="title" class="form-label">Senha</label>
        <input type="password" name="password" placeholder="No mínimo 5 dígitos!" class="form-input">

        <label for="title" class="form-label">Repita sua senha</label>
        <input type="password" name="repeat_password" placeholder="Sem Cntrl+C Cntrl+V ein!" class="form-input"  onpaste="return false" ondrop="return false">

        <div class="form-btn-group">
          <button type="submit" class="form-btn">Entrar</button>
          <button type="reset" class="form-btn">Resetar</button>
        </div>
      </form>
    </div>
  </main>
</body>
</html>