<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/recover-password.css">
  <title>Recuperar Senha</title>
</head>

<body>
  <a href="/"><i class="fas fa-long-arrow-alt-left"></i></a>
  <main>
    <img src="/images/bookshelf.png" alt="Estante de livros">
    <div>
      <form action="/user/updatepassword" method="post" class="add-form">
        <div>
          <h1><%= username %>, Insira sua nova senha</h1>
          <button type="reset" class="btn-reset">
            <i class="fas fa-trash-restore"></i>
          </button>
        </div>

        <label for="email" class="form-label">E-mail</label>
        <input type="text" name="email" class="form-input" required value="<%= email %>" readonly>

        <div>
          <div class="input-group">
            <label for="title" class="form-label">Senha</label>
            <input type="password" name="password" placeholder="No mínimo 5 dígitos!" class="form-input" required
              minlength="5">
          </div>
          <div class="input-group">
            <label for="title" class="form-label">Repita sua senha</label>
            <input type="password" name="repeat_password" placeholder="Sem Cntrl+C Cntrl+V!" class="form-input"
              onpaste="return false" ondrop="return false" required minlength="5">
          </div>
        </div>

        <button type="submit" class="submit-btn">
          <p>Mudar senha</p>
        </button>
      </form>
    </div>
  </main>
</body>

</html>