:root {
  --color-light: #FCF7F8;
  --color-dark: #000501;
  --color-gray-light: #E7EAEE;
  --color-gray: #CED3DC;
  --color-gray-dark: #B7C0CC;
  --color-red-light: #FF1F4B;
  --color-red: #FF0035;
  --color-red-dark: #CC0029;
  --color-blue-light: #3775D2;
  --color-blue: #275DAD;
  --color-blue-dark: #225096;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}