body {
  min-height: 100vh;
  background-color: var(--color-gray-light);
}

header {
  background-color: var(--color-blue-light);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-light);
  padding: 0 0 1% 20%;
}

header h1 {
  font-size: 4rem;
}

header h2 {
  font-size: 1.1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5% 0;
}

main div#main-content {
  height: 100%;
  width: 50%;
}