body {
  min-height: 100vh;
  background-color: var(--color-gray-light);
}

main {
  display: flex;
  flex-direction: row;
  height: 95%;

  padding: 5% 1%;
}

form.add-form {
  margin: 0 5%;

  display: flex;
  flex-direction: column;
  flex: 1;
}

form.add-form h1 {
  text-align: center;
  color: var(--color-dark);
  font-size: 1.8rem;
}

.form-label {
  font-size: 1.5rem;
  text-align: justify;
  color: var(--color-dark);
  margin-bottom: 3%;
}

form .form-label:not(:first-child) {
  margin-top: 5%;
}

form .form-input {
  padding: 3%;
  border: solid 1px var(--color-dark);
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: background-color 0.25s;
  border-radius: 0;
}

form .form-input:focus {
  background-color: var(--color-red);
  color: var(--color-light);
} 

form .form-input:focus::placeholder {
  color: var(--color-light);
}

form .form-input.textarea {
  resize: none;
  max-lines: 5;
}

form .form-btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0;
}

form .form-btn {
  margin-top: 5%;
  cursor: pointer;
  color: var(--color-light);
  background-color: var(--color-blue);
  height: 3rem;
  width: 7rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0;
  transition: all 0.3s;
}

form .form-btn:hover {
  background-color: var(--color-blue-dark);
}

div.data {
  overflow: auto;
  height: 100%;
  flex: 3;
}

table {
  margin: 0 5%;
}

table tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

table tr:first-child {
  margin-bottom: 5%;
}

table tr:not(:first-child) {
  margin-bottom: 3%;
  border-bottom: 1px solid var(--color-dark);
  padding-bottom: 2%; 
}

table tr th {
  font-size: 1.5rem;
  text-align: justify;
}

table .table-item-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

table .table-item-actions a {
  cursor: pointer;
  color: var(--color-light);
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 2rem;
  width: 5rem;
  border: none;
  border-radius: 0;
  transition: all 0.3s;
}

table .table-item-actions a:hover {
  background-color: var(--color-blue-dark);
}

.edit-form {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form form {
  height: 70%;
  width: 30%;
  background-color: var(--color-gray-light);
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.edit-form .close-btn {
  align-self: flex-start;
  margin-top: 5%;
  height: 5%;
  width: 5%;
  cursor: pointer;
  color: var(--color-light);
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
}

.edit-form .close-btn:hover {
  background-color: var(--color-blue-dark);
}

.edit-form form h1 {
  color: var(--color-dark);
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 1100px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  * {
    font-size: 12px;
  }
  main {
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.data {
    overflow: unset;
    height: 100%;
    margin-top: 5%;
  }
}

@media (max-width: 600px) {
  * {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  * {
    font-size: 8px;
  }
}
